In [1]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [2]:
data.describe()

          ounces
count   9.000000
mean    6.055556
std     2.855307
min     3.000000
25%     4.000000
50%     6.000000
75%     7.500000
max    12.000000

In [3]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     6.0
4     b     7.5
5     b     8.0
1     a     3.0
0     a     4.0
2     a    12.0

In [4]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})

In [5]:
data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [6]:
data.drop_duplicates()

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4

In [7]:
data.drop_duplicates(subset='k1')

    k1  k2
0  one   3
3  two   3

In [8]:
data.drop_duplicates(subset='k2')

    k1  k2
0  one   3
1  one   2
2  one   1
5  two   4

In [9]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [10]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

KeyError: 'food'

In [11]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

KeyError: 'food'

In [12]:
data['animal2'] = data.apply(meat2animal,axis='columns')
data

KeyError: ('food', u'occurred at index 0')

In [13]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'
    data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [14]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [15]:
data.drop_duplicates(subset='animal')

       food  ounces  animal
0     bacon     4.0     pig
3  Pastrami     6.0     cow
8  nova lox     6.0  salmon

In [16]:
data['animal2'] = data.apply(meat2animal,axis='columns')
data

          food  ounces  animal animal2
0        bacon     4.0     pig     pig
1  pulled pork     3.0     pig     pig
2        bacon    12.0     pig     pig
3     Pastrami     6.0     cow  salmon
4  corned beef     7.5     cow     cow
5        Bacon     8.0     pig  salmon
6     pastrami     3.0     cow     cow
7    honey ham     5.0     pig     pig
8     nova lox     6.0  salmon  salmon

In [17]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df.assign(ratio = df['data1'] / df['data2'])

      data1     data2      ratio
0 -0.602894  0.448095  -1.345460
1 -1.193316 -0.122530   9.739005
2  0.495532  0.645714   0.767417
3  1.618295  0.068123  23.755464
4  0.784421  0.034819  22.528215

In [18]:
data.drop('animal2', axis='columns', inplace=True)  # dropping/removing a column
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [19]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [20]:
data.replace(-999, np.nan, inplace=True)
data

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [21]:
import pandas as pd

# sample data can be dowloaded here: http://pbpython.com/extras/sales-funnel.xlsx
df = pd.read_dat('C:/Users/Admin/Downloads/ml-1m.zip/ml-1m/users.dat')

AttributeError: 'module' object has no attribute 'read_dat'

In [22]:
import pandas as pd

# sample data can be dowloaded here: http://pbpython.com/extras/sales-funnel.xlsx
df = pd.read_csv('http://localhost:8888/tree/Untitled%20Folder/users.dat')

In [23]:
df.head()

    1::F::1::10::48067
0  2::M::56::16::70072
1  3::M::25::15::55117
2   4::M::45::7::02460
3  5::M::25::20::55455
4   6::F::50::9::55117

In [24]:
import pandas as pd

# sample data can be dowloaded here: http://pbpython.com/extras/sales-funnel.xlsx
df = pd.read_csv('http://localhost:8888/tree/Untitled%20Folder/movies.dat')

CParserError: Error tokenizing data. C error: Expected 1 fields in line 11, saw 2

In [25]:
import numpy as np
myarray = np.fromfile('movies.dat',dtype=float)

In [26]:
import numpy as np
myarray = np.fromfile('users.dat',dtype=float)

In [27]:
import numpy as np
myarray = np.fromfile('ratings.dat',dtype=float)

In [28]:
diamonds.head()

NameError: name 'diamonds' is not defined

In [29]:
import pandas as pd

df = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\movies.csv')
print df

       1::Toy Story (1995)::Animation|Children's|Comedy
0       2::Jumanji (1995)::Adventure|Children's|Fantasy
1            3::Grumpier Old Men (1995)::Comedy|Romance
2             4::Waiting to Exhale (1995)::Comedy|Drama
3         5::Father of the Bride Part II (1995)::Comedy
4                 6::Heat (1995)::Action|Crime|Thriller
5                     7::Sabrina (1995)::Comedy|Romance
6          8::Tom and Huck (1995)::Adventure|Children's
7                        9::Sudden Death (1995)::Action
8       10::GoldenEye (1995)::Action|Adventure|Thriller
9     11::American President, The (1995)::Comedy|Dra...
10    12::Dracula: Dead and Loving It (1995)::Comedy...
11               13::Balto (1995)::Animation|Children's
12                              14::Nixon (1995)::Drama
13    15::Cutthroat Island (1995)::Action|Adventure|...
14                    16::Casino (1995)::Drama|Thriller
15      17::Sense and Sensibility (1995)::Drama|Romance
16                      18::Four Rooms (1995)::Thriller
17    19::Ace Ventura: When Nature Calls (1995)::Comedy
18                       20::Money Train (1995)::Action
19           21::Get Shorty (1995)::Action|Comedy|Drama
20             22::Copycat (1995)::Crime|Drama|Thriller
21                       23::Assassins (1995)::Thriller
22                      24::Powder (1995)::Drama|Sci-Fi
23          25::Leaving Las Vegas (1995)::Drama|Romance
24                            26::Othello (1995)::Drama
25                       27::Now and Then (1995)::Drama
26                       28::Persuasion (1995)::Romance
27    29::City of Lost Children, The (1995)::Adventu...
28    30::Shanghai Triad (Yao a yao yao dao waipo qi...
29                    31::Dangerous Minds (1995)::Drama
...                                                 ...
3852      3923::Return of the Fly (1959)::Horror|Sci-Fi
3853                  3924::Pajama Party (1964)::Comedy
3854        3925::Stranger Than Paradise (1984)::Comedy
3855  3926::Voyage to the Bottom of the Sea (1961)::...
3856    3927::Fantastic Voyage (1966)::Adventure|Sci-Fi
3857  3928::Abbott and Costello Meet Frankenstein (1...
3858                3929::Bank Dick, The (1940)::Comedy
3859  3930::Creature From the Black Lagoon, The (195...
3860  3931::Giant Gila Monster, The (1959)::Horror|S...
3861     3932::Invisible Man, The (1933)::Horror|Sci-Fi
3862     3933::Killer Shrews, The (1959)::Horror|Sci-Fi
3863                        3934::Kronos (1957)::Sci-Fi
3864                        3935::Kronos (1973)::Horror
3865  3936::Phantom of the Opera, The (1943)::Drama|...
3866              3937::Runaway (1984)::Sci-Fi|Thriller
3867   3938::Slumber Party Massacre, The (1982)::Horror
3868  3939::Slumber Party Massacre II, The (1987)::H...
3869  3940::Slumber Party Massacre III, The (1990)::...
3870       3941::Sorority House Massacre (1986)::Horror
3871    3942::Sorority House Massacre II (1990)::Horror
3872                    3943::Bamboozled (2000)::Comedy
3873                 3944::Bootmen (2000)::Comedy|Drama
3874  3945::Digimon: The Movie (2000)::Adventure|Ani...
3875     3946::Get Carter (2000)::Action|Drama|Thriller
3876                  3947::Get Carter (1971)::Thriller
3877              3948::Meet the Parents (2000)::Comedy
3878            3949::Requiem for a Dream (2000)::Drama
3879                      3950::Tigerland (2000)::Drama
3880               3951::Two Family House (2000)::Drama
3881        3952::Contender, The (2000)::Drama|Thriller

[3882 rows x 1 columns]

In [30]:
import pandas as pd

df1 = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\users.csv')
print df1

          1::F::1::10::48067
0        2::M::56::16::70072
1        3::M::25::15::55117
2         4::M::45::7::02460
3        5::M::25::20::55455
4         6::F::50::9::55117
5         7::M::35::1::06810
6        8::M::25::12::11413
7        9::M::25::17::61614
8        10::F::35::1::95370
9        11::F::25::1::04093
10      12::M::25::12::32793
11       13::M::45::1::93304
12       14::M::35::0::60126
13       15::M::25::7::22903
14       16::F::35::0::20670
15       17::M::50::1::95350
16       18::F::18::3::95825
17       19::M::1::10::48073
18      20::M::25::14::55113
19      21::M::18::16::99353
20      22::M::18::15::53706
21       23::M::35::0::90049
22       24::F::25::7::10023
23       25::M::18::4::01609
24       26::M::25::7::23112
25      27::M::25::11::19130
26       28::F::25::1::14607
27       29::M::35::7::33407
28       30::F::35::7::19143
29       31::M::56::7::06840
...                      ...
6009  6011::M::35::15::80538
6010  6012::M::35::15::02871
6011  6013::F::25::20::32301
6012   6014::M::45::1::80634
6013   6015::F::25::9::80013
6014   6016::M::45::1::37209
6015   6017::F::35::7::21117
6016   6018::M::35::1::48906
6017   6019::M::25::0::10024
6018  6020::M::50::16::10023
6019  6021::M::25::12::08876
6020  6022::M::25::17::57006
6021   6023::M::25::0::43213
6022  6024::M::25::12::53705
6023   6025::F::25::1::32607
6024   6026::M::35::6::11210
6025   6027::M::18::4::20742
6026   6028::M::18::4::94133
6027   6029::F::25::1::23185
6028  6030::M::25::17::32618
6029   6031::F::18::0::45123
6030   6032::M::45::7::55108
6031  6033::M::50::13::78232
6032  6034::M::25::14::94117
6033   6035::F::25::1::78734
6034  6036::F::25::15::32603
6035   6037::F::45::1::76006
6036   6038::F::56::1::14706
6037   6039::F::45::0::01060
6038   6040::M::25::6::11106

[6039 rows x 1 columns]

In [31]:
import pandas as pd

df2 = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\ratings.csv')
print df2

atings.csv does not exist

In [32]:
import pandas as pd

df2 = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\ratings.csv')
print df2

atings.csv does not exist

In [33]:
import pandas as pd

abc = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\ratings.csv')
print abc

atings.csv does not exist

In [34]:
import pandas as pd

df2 = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\\ratings.csv')
print df2

            1::1193::5::978300760
0            1::661::3::978302109
1            1::914::3::978301968
2           1::3408::4::978300275
3           1::2355::5::978824291
4           1::1197::3::978302268
5           1::1287::5::978302039
6           1::2804::5::978300719
7            1::594::4::978302268
8            1::919::4::978301368
9            1::595::5::978824268
10           1::938::4::978301752
11          1::2398::4::978302281
12          1::2918::4::978302124
13          1::1035::5::978301753
14          1::2791::4::978302188
15          1::2687::3::978824268
16          1::2018::4::978301777
17          1::3105::5::978301713
18          1::2797::4::978302039
19          1::2321::3::978302205
20           1::720::3::978300760
21          1::1270::5::978300055
22           1::527::5::978824195
23          1::2340::3::978300103
24            1::48::5::978824351
25          1::1097::4::978301953
26          1::1721::4::978300055
27          1::1545::4::978824139
28           1::745::3::978824268
29          1::2294::4::978824291
...                           ...
1000178  6040::2762::4::956704584
1000179  6040::1036::3::956715455
1000180   6040::508::4::956704972
1000181  6040::1041::4::957717678
1000182  6040::3735::4::960971654
1000183  6040::2791::4::956715569
1000184  6040::2794::1::956716438
1000185   6040::527::5::956704219
1000186  6040::2003::1::956716294
1000187   6040::535::4::964828734
1000188  6040::2010::5::957716795
1000189  6040::2011::4::956716113
1000190  6040::3751::4::964828782
1000191  6040::2019::5::956703977
1000192   6040::541::4::956715288
1000193  6040::1077::5::964828799
1000194  6040::1079::2::956715648
1000195   6040::549::4::956704746
1000196  6040::2020::3::956715288
1000197  6040::2021::3::956716374
1000198  6040::2022::5::956716207
1000199  6040::2028::5::956704519
1000200  6040::1080::4::957717322
1000201  6040::1089::4::956704996
1000202  6040::1090::3::956715518
1000203  6040::1091::1::956716541
1000204  6040::1094::5::956704887
1000205   6040::562::5::956704746
1000206  6040::1096::4::956715648
1000207  6040::1097::4::956715569

[1000208 rows x 1 columns]

In [38]:
import pandas as pd

df1 = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\\ratings.csv', names=['UserID','MovieID','Rating','Timestamp'])
df2 = pd.read_csv('C:\Users\Admin\Desktop\ml-1m\movies.csv', names=['MovieID','Title','Genres'])
df3 = pd.merge(df1, df2, on='MovieID')
print df3.show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [36]:
print df3

Empty DataFrame
Columns: [UserID, MovieID, Rating, Timestamp, Title, Genres]
Index: []